<div class="main">
  <div id="wrapper">
    <div class="avatar">
      <%=image_tag("avatar.JPG", :alt => "IDA", :class => "avatar-pic")%>
      <div class="avatar-line"></div>
    </div>
  </div>
  <div class="name"></div>
  <div class="location"></div>
  <div class="bio"></div>
  <!-- start picture section -->
  <div class="gallary"></div>
  <div class="divider_one"></div>
  <div class="divider_two"></div>
</div>