<div class="picture">
<%=image_tag("zac1.png", :class => "pic1", :size => "250x400")%>
<%=image_tag("zac2.png", :class => "pic2", :size => "250x400")%>
<%=image_tag("zac.png", :class => "pic", :size => "250x400")%>
</div>
<div class="backabout">
	<h1>TI TZE YUNG</h1>
	<div class="textback">Interior Designer from Malaysia.</div>
</div>