<div class="page">
  <div class="page__half">
    <div class="infobox">
      <h1 class="infobox__title">Ti Tze Yung</h1>
      <p class="infobox__text">I am an interior designer.</p>
    </div>
     <a href="#" class="link">
      <h4 class="link__title">Ti Tze Yung</h4>
      <h5 class="link__subtitle">Interior Designer</h5>
    </a>
    <%=image_tag("Main-01.jpg", :class => "image")%>
  </div>
  <div class="page__half">
    <div class="infobox">
      <h1 class="infobox__title">Ti Tze Yung</h1>
      <p class="infobox__text">I am a Ruby web developer from NEXT Academy.</p>
    </div>
    <a href="#" class="link">
      <h4 class="link__title">Ti Tze Yung</h4>
      <h5 class="link__subtitle">Web Developer</h5>
    </a>
    <%=image_tag("b1.jpg", :class => "image")%>
  </div>
</div>
